<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mygateproject_2022</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>Controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>Controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMemberController</display-name>
    <servlet-name>AddMemberController</servlet-name>
    <servlet-class>Controller.AddMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMemberController</servlet-name>
    <url-pattern>/AddMemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserController</display-name>
    <servlet-name>ListUserController</servlet-name>
    <servlet-class>Controller.ListUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserController</servlet-name>
    <url-pattern>/ListUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingRequestController</display-name>
    <servlet-name>PendingRequestController</servlet-name>
    <servlet-class>Controller.PendingRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingRequestController</servlet-name>
    <url-pattern>/PendingRequestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveUserController</display-name>
    <servlet-name>ApproveUserController</servlet-name>
    <servlet-class>Controller.ApproveUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveUserController</servlet-name>
    <url-pattern>/ApproveUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoneUserController</display-name>
    <servlet-name>DoneUserController</servlet-name>
    <servlet-class>Controller.DoneUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoneUserController</servlet-name>
    <url-pattern>/DoneUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeclineUserController</display-name>
    <servlet-name>DeclineUserController</servlet-name>
    <servlet-class>Controller.DeclineUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeclineUserController</servlet-name>
    <url-pattern>/DeclineUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseDetailController</display-name>
    <servlet-name>HouseDetailController</servlet-name>
    <servlet-class>Controller.HouseDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseDetailController</servlet-name>
    <url-pattern>/HouseDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserController</display-name>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>Controller.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMemberController</display-name>
    <servlet-name>ListMemberController</servlet-name>
    <servlet-class>Controller.ListMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMemberController</servlet-name>
    <url-pattern>/ListMemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewMemberController</display-name>
    <servlet-name>NewMemberController</servlet-name>
    <servlet-class>Controller.NewMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewMemberController</servlet-name>
    <url-pattern>/NewMemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserFormController</display-name>
    <servlet-name>UpdateUserFormController</servlet-name>
    <servlet-class>Controller.UpdateUserFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserFormController</servlet-name>
    <url-pattern>/UpdateUserFormController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInstructionController</display-name>
    <servlet-name>AddInstructionController</servlet-name>
    <servlet-class>Controller.AddInstructionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInstructionController</servlet-name>
    <url-pattern>/AddInstructionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSecurityController</display-name>
    <servlet-name>AddSecurityController</servlet-name>
    <servlet-class>Controller.AddSecurityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSecurityController</servlet-name>
    <url-pattern>/AddSecurityController</url-pattern>
  </servlet-mapping>
</web-app>